<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Pixabay Search (Express Version)</h1>
    image will be displayed here! <br>

    <img src='<%=image%>'>

</body>
</html>